$input-height: 44px;
$input-width: 100vw;

.search-input {
  height: 100%;
  position: relative;
  max-width: $input-width;

  .rs-search-input-grp {
    height: $input-height;
  }

  .rs-search-input {
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: 0;
    border: none;
    border-radius: calc(0.5 * $input-height);
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
  }
}
